<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light p-3 mb-2 bg-dark text-white">
      <a class="navbar-brand" href="#">
        <div class="d-inline-block align-top">
         <%= image_tag "find.svg", alt: "Movie-F", width: 70, height: 70 %>
        </div>
      </a>
    </nav>
    <%= yield %>
  </body>
</html>
